.blog {
  padding-bottom: 130px;
  text-align: center;
  color: $medium_black;

  & > h2 {
    @include text(34px, 44px, 700);
    letter-spacing: 0.03em;
  }

  & > p {
    @include text(16px, 21px, 500);
    border-bottom: 1px solid $basic_color;
  }
}

.blog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "care trend"
    "power trend";
  grid-gap: 30px;
  @include padding(60px, 130px);
}

.blog__item {
  cursor: pointer;
  grid-area: care;

  &:nth-child(3n+2) {
    grid-area: trend;
  }

  &:nth-child(3n+3) {
    grid-area: power;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.blog__link {
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;

  & img {
    height: 100%;
  }

  .blog__item:nth-child(3n+2) & {
    position: relative;
  }

  .blog__item:nth-child(3n+3) & {
    flex-direction: row;
  }
}

.blog__text {
  background-color: $light_grey;
  min-width: 50%;
  min-height: 300px;
  @include padding(70px, 70px);

  & > time {
    @include text(14px, 18px, 500);
    color: $basic_grey;
  }

  & > p {
    @include text(26px, 34px, 600);
    color: $basic_black;
    font-family: $caption-font;
  }

  & > span {
    @include text(16px, 21px, 500);
    text-decoration: none;
    color: $medium_black;
    font-family: $caption-font;
    border-bottom: 1px solid $basic_color;
  }

  .blog__item:nth-child(3n+2) & {
    position: absolute;
    bottom: 0;
  }
}

// .types {
//   background-color: $navy_blue;
//   color: $basic_white;
//   padding-top: 57px;
//   padding-bottom: 106px;

//   @media (max-width: $desktop-width) {
//     padding-bottom: 18px;
//     padding-top: 23px;
//   }

//   @media (max-width: $tablet-width) {
//     padding-bottom: 18px;
//     padding-top: 26px;
//   }
// }

// .types__wrapper > h2 {
//   @include text(36px, 51px, 400);
//   margin-bottom: 54px;

//   @media (max-width: $desktop-width) {
//     @include text(32px, 45px, 400);
//     padding-right: 86px;
//   }

//   @media (max-width: $tablet-width) {
//     @include text(28px, 39px, 400);
//     padding-right: 0;
//     padding-left: 10px;
//     margin-bottom: 42px;
//   }
// }

// .types__list {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   gap: 2%;
//   row-gap: 20px;

//   @media (max-width: $desktop-width) {
//     flex-direction: column;
//   }
// }

// .types__item {
//   position: relative;
//   display: block;
//   width: 32%;

//   @media (max-width: $desktop-width) {
//     width: 100%;
//     max-height: 256px;
//     margin-bottom: 44px;
//   }

//   @media (max-width: $tablet-width) {
//     margin-bottom: 30px;
//   }

//   &:hover {
//     opacity: 0.5;
//   }
// }

// .types__link {
//   text-decoration: none;
// }

// .types__link > p {
//   @include pseudo($display: block, $pos: absolute, $content: "");
//   @include text(20px, 30px, 400);
//   font-family: $caption-font;
//   width: 173px;
//   color: $basic_white;
//   top: 30px;
//   left: 44px;

//   @media (max-width: $desktop-width) {
//     top: 17px;
//     width: 172px;
//   }

//   @media (max-width: $tablet-width) {
//     top: 0;
//     left: 36px;
//   }
// }

// .types__item--lighting p {
//   @media (max-width: $desktop-width) {
//     top: 30px;
//   }

//   @media (max-width: $tablet-width) {
//     top: 11px;
//   }
// }

// .types__link img {
//   opacity: 0.2;

//   @media (max-width: $desktop-width) {
//     width: 100%;
//     max-height: 256px;
//   }
// }

// .types__link::before {
//   @include pseudo($display: block, $pos: absolute, $content: "");
//   width: 63px;
//   height: 63px;
//   z-index: 1;
//   background-color: $basic_color;
//   bottom: 4px;
//   right: 0;

//   @media (max-width: $tablet-width) {
//     bottom: 0;
//   }
// }

// .types__link::after {
//   @include pseudo($display: block, $pos: absolute, $content: "");
//   bottom: 30px;
//   right: 27px;
//   z-index: 2;
//   width: 7.4px;
//   height: 7.4px;
//   border-top: 1px solid $basic_white;
//   border-right: 1px solid $basic_white;
//   transform: rotate(45deg);

//   @media (max-width: $tablet-width) {
//     bottom: 27px;
//     right: 30px;
//   }
// }
