.blog {
  text-align: center;
  color: $medium_black;

  & > h2 {
    @include text(34px, 44px, 700);
    letter-spacing: 0.03em;
    margin-bottom: 18px;
  }

  & > a {
    @include text(16px, 21px, 500);
    border-bottom: 1px solid $basic_color;
    text-decoration: none;
    color: $medium_black;
    cursor: pointer;
  }
}

.blog__list {
  @include padding(62px, 119px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "care trend"
    "power trend";
  grid-gap: 30px;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 50px;
    padding-bottom: 70px;
  }

  @media (max-width: $tablet-width) {
    @include padding(52px, 59px);
    grid-gap: 41px;
    align-items: unset;
  }
}

.blog__item {
  cursor: pointer;
  background-color: $light_grey;
  grid-area: care;
  margin: 0;

  @media (max-width: $desktop-width) {
    width: 678px;
  }

  @media (max-width: $tablet-width) {
    width: unset;
  }

  &:nth-child(3n+2) {
    grid-area: power;
  }

  &:nth-child(3n+3) {
    grid-area: trend;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.blog__link {
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 300px;

  @media (max-width: $tablet-width) {
    flex-direction: column-reverse;
    height: unset;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .blog__item:nth-child(3n+2) & {
    flex-direction: row;

    @media (max-width: $tablet-width) {
      flex-direction: column-reverse;
    }
  }

  .blog__item:nth-child(3n+3) & {
    position: relative;
    height: 630px;

    @media (max-width: $desktop-width) {
      display: flex;
      flex-direction: row-reverse;
      height: 300px;
    }

    @media (max-width: $tablet-width) {
      flex-direction: column-reverse;
      height: unset;
    }
  }
}

.blog__text {
  @include padding(11%, 10%);
  width: 50%;
  background-color: $light_grey;
  height: 300px;

  @media (max-width: $desktop-width) {
    padding-top: 65px;
  }

  @media (max-width: $tablet-width) {
    @include padding(35px, 49px);
    width: 100%;
    height: 246px;
  }

  & > time {
    @include text(14px, 18px, 500);
    color: $basic_grey;
  }

  & > p {
    @include text(26px, 34px, 600);
    color: $basic_black;
    font-family: $caption-font;
    margin-top: 7px;
    margin-bottom: 13%;
    padding-left: 20%;
    padding-right: 20%;

    @media (max-width: $desktop-width) {
      margin-bottom: 11%;
    }

    .blog__item:nth-child(3n+1) & {
      @media (max-width: $desktop-width) {
        padding-left: 65px;
        padding-right: 65px;
      }

      @media (max-width: $tablet-width) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    .blog__item:nth-child(3n+2) & {
      @media (max-width: $desktop-width) {
        padding-left: 90px;
        padding-right: 90px;
      }

      @media (max-width: $tablet-width) {
        padding-left: 60px;
        padding-right: 60px;
      }
    }
  }

  & > span {
    @include text(16px, 21px, 500);
    text-decoration: none;
    color: $medium_black;
    font-family: $text-font;
    border-bottom: 1px solid $basic_color;
  }

  .blog__item:nth-child(3n+3) & {
    position: absolute;
    bottom: 0;
    padding-bottom: 19%;

    @media (max-width: $desktop-width) {
      position: relative;
      padding-top: 81px;
    }

    @media (max-width: $tablet-width) {
      @include padding(50px, 69px);
    }
  }
}
