.card {
  @include padding(70px, 7px);
  display: grid;
  grid-column-gap: 93px;
  grid-template-columns: 52% 1fr;


  @media (max-width: $desktop-width) {
    @include padding(20px, 0);
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
}

.card__gallery {
  padding-top: 10px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.card__wrapper {
  padding-right: 97px;

  @media (max-width: $desktop-width) {
    padding-right: 0;
  }

  @media (max-width: $tablet-width) {
    padding-top: 30px;
  }

  & > h2 {
    @include text(34px, 44px, 700);
    color: $medium_black;
    margin-bottom: 15px;
  }

  & > p {
    @include text(26px, 34px, 400);
    color: $medium_black;
    margin-top: 0;
    margin-bottom: 36px;

    @media (max-width: $tablet-width) {
      margin-bottom: 28px;
    }
  }
}

.card__info {
  margin: 0;
}

.card__row {
  @include text(14px, 18px, 400);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $medium_black;
  border-bottom: 1px solid $border_grey;
  padding-bottom: 8px;

  &:not(:first-child) {
    padding-top: 13px;
  }

  & > dt {
    font-weight: 500;
  }
}

.card__row--main {
  @include text(16px, 21px, 500);
  justify-content: start;
  padding-bottom: 17px;
  border: none;

  & > dt {
    color: $basic_grey;
  }
}

.card__button {
  @include text(16px, 21px, 500);
  display: block;
  padding-top: 28px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  min-height: 68px;
  border: none;
  background-color: $basic_color;
  color: $basic_white;
  margin-top: 50px;
  margin-bottom: 21px;

  @media (max-width: $tablet-width) {
    margin-top: 40px;
    margin-bottom: 13px;
  }
}

.card__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__item {
  @include text(14px, 18px, 500);
  color: $basic_grey;
  position: relative;

  @media (max-width: $desktop-width) {
    @include text(12px, 16px, 500);
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    width: 60px;
  }

  &:not(:last-child)::before {
    @include pseudo($display: block, $pos: absolute, $content: "");
    height: 20px;
    width: 1px;
    top: -2px;
    right: -12px;
    background-color: $border_grey;

    @media (max-width: $tablet-width) {
      right: -25px;
    }
  }
}
