.catalog-content {
  @include padding(80px,32px);
  display: grid;
  grid-template-columns: 21.3% 3fr;
  grid-gap: 50px;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    @include padding(50px,32px);
  }
  @media (max-width: $tablet-width) {
    @include padding(40px,24px);
    grid-gap: 40px;
  }
}
