.catalog-slider {
  border-top: 1px solid $border_grey;
  @include padding(33px,73px);

  @media (max-width: $tablet-width) {
    border: none;
    @include padding(14px,61px);
  }
}

.catalog-slider__wrapper {
  max-width: 74.5%;
  margin-left: auto;
  position: relative;

  @media (max-width: $desktop-width) {
    max-width: 100%;
  }
}

.catalog-slider__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-slider__button {
  @include text(16px, 21px, 500);
  color: $medium_black;
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.catalog-slider__controls {
  @include push--auto;
}

.catalog-slider__control {
  @include text(16px, 21px, 500);
  font-family: $text-font;
  color: $basic_grey;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus,
  &:hover {
  color: $medium_black;
  }
}
