.catalog-slider {
  border-top: 1px solid $border_grey;
  @include padding(40px,80px);

  @media (max-width: $tablet-width) {
    border: none;
    @include padding(50px,70px);
  }
}

.catalog-slider__wrapper {
  max-width: 850px;
  margin-left: auto;
  position: relative;
}

.catalog-slider__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-slider__button {
  @include text(16px, 21px, 500);
  color: $medium_black;
  border: none;
  background-color: transparent;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.catalog-slider__controls {
  @include push--auto;
}

.catalog-slider__control {
  @include text(16px, 21px, 500);
  font-family: $text-font;
  color: $basic_grey;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus,
  &:hover {
  color: $medium_black;
  }
}
