.cite {
  padding-left: 90px;
  padding-top: 3px;

  @media (max-width: $desktop-width) {
    grid-area: cite;
    padding-top: 44px;
    padding-left: 0;
  }

  @media (max-width: $tablet-width) {
    padding-top: 45px;
  }
}

.cite__list {
  column-count: 2;
  column-gap: 72px;

  @media (max-width: $desktop-width) {
    column-gap: 78px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.cite__item {
  cursor: pointer;
  margin-bottom: 16px;

  &:nth-child(4n) {
    @media (max-width: $tablet-width) {
      margin-bottom: 36px;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}

.cite__link {
  @include text(16px, 21px, 500);
  text-decoration: none;
  color: $basic_white;
  font-family: $text-font;
}
