.close-button {
  @include pseudo($display: block, $pos: absolute, $content: "");
  height: 20px;
  width: 20px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  // top: 50px;
  // right: 50px;

  // @media (max-width: $tablet-width) {
  //   top: 25px;
  //   right: 25px;
  // }

  &::before{
    @include pseudo($display: block, $pos: absolute, $content: "");
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    border-top: 1px solid $basic_color;
    border-right: 1px solid $basic_color;
    transform: rotate(-45deg);
  }
}

.close-button--closed {

  &.close-button::before {
    transform: rotate(135deg);
  }

  & ~ p {
    display: none;
  }
}

// .close-button--nojs.close-button {
//   display: none;
// }
