.contacts {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-column-gap: 88px;

  @media (max-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "sub sub"
      "cite socials";
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}
