.contacts {
  // display: grid;
  // grid-template-columns: 3fr 2fr 1fr;
  display: flex;
  flex-direction: row;

  @media (max-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "sub sub"
      "cite socials";
    padding-right: 100px;
    grid-column-gap: 0;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
  }
}
