.filter {
  display: flex;
  flex-direction: column;
}

.filter__form {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.filter__container {
  border: 1px solid $basic_color;
}

.filter__wrapper {
  padding-bottom: 28px;
  margin-top: 28px;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;

  &:not(:last-child) {
  border-bottom: 1px solid $basic_color;
  }
}

.filter__name {
  @include text(16px, 21px, 500);
  color: $medium_black;
}

.filter__list {
  padding-left: 30px;
  padding-top: 30px;
}

.filter__row {
  padding-bottom: 15px;
  position: relative;
  cursor: pointer;

  & > label::before {
    @include pseudo($display: block, $pos: absolute, $content: "");
    width: 15px;
    height: 15px;
    border: 1px solid $basic_color;
    left: -25px;
  }

  & > input:checked + label::before {
  background-color: $basic_color;
}

  &:focus,
  &:hover,
  &:disabled {
    opacity: 0.5;
  }
}

.filter__accordion {
  top: -18px;
  right: 25px;
}

.filter__button {
  width: 100%;
  min-height: 68px;
  border: 1px solid $basic_color;
  @include text(16px, 21px, 500);
  margin-top: 35px;
  background-color: transparent;
}

.filter__button--open {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
    background-color: $basic_color;
    color: $basic_white;
    margin-top: 0;
  }
}

.filter__button--submit {
  background-color: $basic_color;
  color: $basic_white;
}
