.filter {
  display: flex;
  flex-direction: column;
}

.filter__form {
  @media (max-width: $desktop-width) {
    &.filter__form--opened {
      @include pseudo($display: block, $pos: absolute, $content: "");
      @include padding(12px, 40px);
      min-height: auto;
      width: 90%;
      top: 400px;
      left: 0;
      background-color: $basic_white;
      box-shadow: 0 0 10px $medium_black;
      z-index: 3;
    }

    &.filter__form--closed {
      display: none;
    }

    &.filter__form--nojs {
      position: relative;
      width: 100%;
    }
  }
}

.filter__close {
  display: none;

  @media (max-width: $desktop-width) {
    @include pseudo($display: block, $pos: absolute, $content: "");
    width: 32px;
    height: 32px;
    border: none;
    background-color: $medium_black;
    border-radius: 25px;
    right: -15px;
    top: -15px;
    cursor: pointer;
    box-shadow: 0 0 10px $medium_black;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }

    &::before,
    &::after {
      @include pseudo($display: block, $pos: absolute, $content: "");
      width: 14px;
      height: 2px;
      background-color: $basic_white;
      right: 9px;
      top: 15px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    .filter__form--nojs & {
      display: none;
    }
  }
}

.filter__container {
  border: 1px solid $basic_color;

  @media (max-width: $desktop-width) {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.filter__wrapper {
  position: relative;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid $basic_color;
  }
}

.filter__name {
  @include text(16px, 21px, 500);
  color: $medium_black;
  min-height: 68px;
  width: 100%;
  padding-top: 25px;
  padding-left: 25px;

  @media (max-width: $desktop-width) {
    @include text(18px, 23px, 500);
  }
}

.filter__list {
  padding-left: 59px;
  padding-bottom: 17px;
}

.filter__row {
  margin-bottom: 3px;
  position: relative;
  cursor: pointer;

  & > label {
    @include text(14px, 18px, 500);
    color: $medium_black;
    cursor: pointer;

    @media (max-width: $desktop-width) {
      @include text(16px, 21px, 500);
    }
  }

  & > label::before {
    @include pseudo($display: block, $pos: absolute, $content: "");
    width: 15px;
    height: 15px;
    border: 1px solid $basic_color;
    left: -25px;
    top: 5px;
  }

  & > input:checked + label::before {
    background-color: $basic_color;
  }

  &:focus,
  &:hover,
  &:disabled {
    opacity: 0.5;
  }
}

.filter__accordion {
  top: -45px;
  right: 23px;

  .acc_active > & {
    top: -35px;
  }
}

.filter__buttons {
  @media (max-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.filter__button {
  @include text(16px, 21px, 500);
  width: 100%;
  min-height: 68px;
  border: 1px solid $basic_color;
  margin-top: 25px;
  background-color: transparent;
}

.filter__button--open {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
    background-color: $basic_color;
    color: $basic_white;
    margin-top: 0;
  }
}

.filter__button--submit {
  background-color: $basic_color;
  color: $basic_white;
  margin-top: 35px;
}
