.goods__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 33px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 23px;
  }
}
.goods__item {
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
.goods__link {
  text-align: center;
  text-decoration: none;

  & > h3 {
    @include text(16px, 21px, 500);
    color: $medium_black;
    font-family: $text-font;
    margin-top: 14px;
    margin-bottom: 7px;

    @media (max-width: $tablet-width) {
      margin-top: 9px;
    }
  }

  & > p {
    @include text(14px, 18px, 700);
    color: $medium_black;
    margin: 0;
  }
}
