.img-carousel {
  // display: grid;
  // row-gap: 30px;
  // column-gap: 27px;
  // grid-template-columns: auto auto;
  // grid-template-rows: repeat(3, 125px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  row-gap: 21px;

  @media (max-width: $desktop-width) {
    // column-gap: 14px;
    // row-gap: 5px;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: repeat(2, auto);
    flex-direction: row;
    column-gap: 14px;
    padding-top: 5px;
  }

  @media (max-width: $tablet-width) {
    display: block;
    text-align: center;
    display: none;
  }
}
