.img-carousel {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(3, 125px);

  @media (max-width: $desktop-width) {
    column-gap: 14px;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }

  @media (max-width: $tablet-width) {
    display: block;
    text-align: center;
  }
}

.img-carousel__item:not(:first-child) {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.active {
  grid-column: 2 / 3;
  grid-row: 1 / 4;

  @media (max-width: $desktop-width) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    position: relative;

    &::after {
      @include pseudo($display: block, $pos: absolute, $content: "1 of 4");
      @include text(14px, 18px, 500);
      color: $medium_black;
      right: 45%;
      bottom: 13px;
    }
  }
}
