.info-list {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
    padding-top: 20px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 8px;
  }
}

.info-list__item {
  @media (max-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.info-list__link {
  @include text(18px, 23px, 500);
  color: $basic_white;
  text-decoration: none;
}
