.info {
  @include padding(180px, 188px);
  color: $basic_white;
  background-image: url("../img/intro-main-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: $basic_color;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-main-desktop-2x.jpg");
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/intro-main-tablet.jpg");
    padding-bottom: 180px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-main-tablet-2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/intro-main-mobile.jpg");
    padding-top: 189px;
    padding-bottom: 186px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-main-mobile-2x.jpg");
    }
  }
}

.info__wrapper {
  text-align: center;

  & > h1 {
    @include text(45px, 58px, 700);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: -4px;

    @media (max-width: $tablet-width) {
      @include text(38px, 48px, 700);
    }
  }

  & > p {
    @include text(38px, 49px, 400);
    font-family: $caption-font;
    font-style: italic;
    margin: 0;

    @media (max-width: $tablet-width) {
      @include text(34px, 44px, 400);
    }
  }
}
