.page {
  height: 100%;
  font-family: $text-font;
  color: $basic_black;
  background-color: $basic_white;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page__wrapper {
  flex: 1 0 auto;
}

.page__header {
  padding-top: 30px;

  @media (max-width: $desktop-width) {
    padding-bottom: 12px;

    &.page__opened {
      @include pseudo($display: block, $pos: absolute, $content: "");
      min-height: 140vh;
      width: 100%;
      top: 0;
      border: none;
      background-color: $basic_color;
      z-index: 3;

      &.page__nojs {
        position: relative;
        min-height: 80vh;
      }
    }

    @media (max-width: $tablet-width) {
      padding-top: 20px;
      padding-bottom: 2px;
    }
  }
}

.page__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.page__logo {
  @include push--auto;
  order: 2;
  margin-bottom: 9px;

  &>svg {

    fill: $basic_color;

    @media (max-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.page__opened svg,
.page__nojs svg {
  @media (max-width: $desktop-width) {
    fill: $basic_white;
  }
}

.page__toggle {
  display: none;

  @media (max-width: $desktop-width) {
    @include pseudo($display: block, $pos: relative, $content: "");
    height: 20px;
    width: 28px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    top: 21px;
    left: 0;
    padding: 0;

    &::before {
      @include pseudo($display: block, $pos: absolute, $content: "");
      top: 3px;
      width: 25px;
      height: 2px;
      background-color: $medium_black;
      box-shadow: 0 8px 0 0 $medium_black, 0 16px 0 0 $medium_black;

      .page__opened &,
      .page__nojs & {
        background-color: $basic_white;
        box-shadow: 0 8px 0 0 $basic_white, 0 16px 0 0 $basic_white;
      }
    }
  }

  @media (max-width: $tablet-width) {
    top: 15px;
    left: 0;
  }
}

.page__search {
  order: 1;
  color: $basic_grey;
  position: relative;

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: $desktop-width) {
    .page__opened &,
    .page__nojs & {
      width: 100%;
      order: 5;
      margin-top: 22px;
      margin-bottom: 49px;

      @media (max-width: $tablet-width) {
        margin-top: 12px;
        margin-bottom: 40px;
      }

      & svg {
        position: absolute;
        top: 12px;
        left: 12px;
      }
    }

    .page__closed & {
      display: none;
    }
  }

  & input {
    @include text(14px, 21px, 500);
    border: none;
    padding-left: 12px;

    @media (max-width: $desktop-width) {
      width: 100%;
      min-height: 40px;
      border-radius: 21px;
      background-color: $basic_white;
      opacity: 0.15;
      padding-left: 40px;

      &:focus {
        opacity: 0.50;
        color: $basic_black;
      }

      &::placeholder {
        color: transparent;
      }
    }
  }
}

.page__login {
  order: 3;
  margin-left: 60px;

  @media (max-width: $desktop-width) {
    .page__opened &,
    .page__nojs & {
      @include text(18px, 23px, 500);
      color: $basic_white;
      order: 10;
      position: absolute;
      bottom: -531px;
      left: -15px;
    }

    .page__closed & {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    .page__opened &,
    .page__nojs & {
      bottom: -511px;
      left: -44px;
    }
  }
}

.page__cart {
  order: 4;
  margin-left: 35px;

  @media (max-width: $desktop-width) {
    @include pseudo($display: block, $pos: relative);
    content: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 5C14 6.06087 13.5786 7.07828 12.8284 7.82843C12.0783 8.57857 11.0609 9 10 9C8.93913 9 7.92172 8.57857 7.17157 7.82843C6.42143 7.07828 6 6.06087 6 5M1 1H19V17H1V1Z' stroke='%231D1613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 19px;
    top: 23px;
    right: 0;
    margin-left: 10px;

    .page__opened &,
    .page__nojs & {
      content: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 5C14 6.06087 13.5786 7.07828 12.8284 7.82843C12.0783 8.57857 11.0609 9 10 9C8.93913 9 7.92172 8.57857 7.17157 7.82843C6.42143 7.07828 6 6.06087 6 5M1 1H19V17H1V1Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  @media (max-width: $tablet-width) {
    top: 15px;
    right: 0;
  }
}

.page__login,
.page__cart,
.page__search {
  @include text(14px, 21px, 500);
  padding-top: 12px;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    padding-top: 0;
  }
}

.page__login,
.page__cart {
  text-decoration: none;
  color: $medium_black;
  margin-bottom: 50px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.page__footer {
  @include padding(92px, 77px);
  flex-shrink: 0;
  background-color: $basic_black;
  color: $basic_white;

  @media (max-width: $desktop-width) {
    @include padding(50px, 32px);
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 57px;
  }
}

.page__hidden {
  display: none;
}

.page__overflow {
  overflow: hidden;
}
