.questions {
  color: $medium_black;
  padding-bottom: 107px;

  @media (max-width: $desktop-width) {
    padding-bottom: 71px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 53px;
  }
}

.questions__container {
  padding-left: 100px;
  padding-right: 100px;

  @media (max-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }

  & > h2 {
    @include text(34px, 44px, 700);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 49px;

    @media (max-width: $tablet-width) {
      margin-bottom: 29px;
    }
  }
}

.questions__list {
  border: 1px solid $basic_color;
}

.questions__item {
  position: relative;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid $basic_color;
  }

  & > p {
    @include text(16px, 21px, 400);
    margin-top: -43px;
    padding-left: 47px;
    padding-right: 395px;
    margin-bottom: 43px;

    @media (max-width: $desktop-width) {
      padding-left: 49px;
      padding-right: 53px;
      margin-top: -19px;
      margin-bottom: 38px;
    }

    @media (max-width: $tablet-width) {
      @include text(14px, 20px, 400);
      padding-left: 25px;
      padding-right: 56px;
      margin-top: -8px;
      margin-bottom: 19px;
    }
  }
}

.questions__wrapper {
  width: 100%;
  min-height: 112px;
  @include padding(47px, 35px);
  padding-left: 42px;

  @media (max-width: $desktop-width) {
    padding-left: 49px;
  }

  @media (max-width: $tablet-width) {
    @include padding(19px, 19px);
    min-height: 83px;
    padding-right: 59px;
    padding-left: 25px;
  }

  & > h3 {
    @include text(18px, 23px, 500);
    font-family: $text-font;
    margin-bottom: 5px;
    cursor: pointer;

    @media (max-width: $desktop-width) {
      margin-bottom: unset;
    }

    @media (max-width: $tablet-width) {
      @include text(16px, 22px, 500);
    }
  }
}

.questions__button {
  top: 50px;
  right: 50px;

  @media (max-width: $tablet-width) {
    top: 25px;
    right: 25px;
  }
}
