.site-list {
  @include push--auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 35px;
  padding-top: 18px;
  padding-bottom: 19px;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    margin-left: 0;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    // margin-top: 23px;
  }
}

.site-list__link {
  @include text(16px, 24px, 500);
  text-decoration: none;
  color: $medium_black;
  position: relative;
  display: flex;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    @include text(24px, 36px, 500);
    color: $basic_white;
    padding-bottom: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
