.slider {
  @include padding(130px,130px);
  text-align: center;
  color: $medium_black;
  position: relative;

  @media (max-width: $desktop-width) {
    @include padding(80px,80px);
  }

  @media (max-width: $tablet-width) {
    @include padding(70px,70px);
  }

  & > h2 {
    @include text(34px, 44px, 700);
  }

  & > a {
    @include text(16px, 21px, 500);
    border-bottom: 1px solid $basic_color;
    text-decoration: none;
    color: $medium_black;
    cursor: pointer;
  }
}

.slider__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.slider__button {
  @include pseudo($display: block, $pos: relative);
  border: none;
  background-color: transparent;
  cursor: pointer;
  // width: 30px;
  // height: 10px;

  &::before {
    @include pseudo($display: block, $pos: relative);
    background-color: $basic_color;
    width: 29px;
    height: 1px;
  }

  &::after {
    @include pseudo($display: block, $pos: absolute);
    border-top: 1px solid $basic_color;
    border-right: 1px solid $basic_color;
    width: 9px;
    height: 9px;
    top: -3px;
  }
}

.slider__button--previous {
  &::after {
    transform: rotate(-135deg);
  }
}

.slider__button--next {
  &::after {
    transform: rotate(45deg);
    right: 5px;
  }
}

.slider__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding-top: 60px;

  @media (max-width: $desktop-width) {
    padding-top: 50px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 40px;
  }
}

.slider__item {
  text-align: center;

  & > h3 {
    @include text(16px, 21px, 500);
    font-family: $text-font;
  }

  & > p {
    @include text(14px, 18px, 700);
  }
}

.slider__item--no-tablet {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
