.slider {
  @include padding(130px,130px);
  text-align: center;
  color: $medium_black;

  @media (max-width: $desktop-width) {
    @include padding(80px,80px);
  }

  @media (max-width: $tablet-width) {
    @include padding(70px,70px);
  }

  & > h2 {
    @include text(34px, 44px, 700);
  }

  & > a {
    @include text(16px, 21px, 500);
    border-bottom: 1px solid $basic_color;
    text-decoration: none;
    color: $medium_black;
    cursor: pointer;
  }
}

.slider__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding-top: 60px;

  @media (max-width: $desktop-width) {
    padding-top: 50px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 40px;
  }
}

.slider__item {
  text-align: center;

  & > h3 {
    @include text(16px, 21px, 500);
    font-family: $text-font;
  }

  & > p {
    @include text(14px, 18px, 700);
  }
}

.slider__item--no-tablet {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
