.subscribe {
  @media (max-width: $desktop-width) {
    grid-area: sub;
  }
}

.subscribe>h2 {
  @include text(34px, 44px, 700);
  letter-spacing: 0.03em;
}

.subscribe>p {
  @include text(16px, 21px, 400);
  color: $basic_grey;
}

.subscribe__field {
  position: relative;

  &>input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $basic_white;
    width: 100%;
    padding-bottom: 15px;
    color: $basic_grey;

    &::placeholder {
      @include text(14px, 21px, 500);
      color: $basic_grey;
    }
  }
}

.subscribe__button {
  @include text(16px, 21px, 500);
  color: $basic_white;
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  right: 42px;
  bottom: 15px;

  &::before {
    @include pseudo($display: block, $pos: absolute);
    background-color: $basic_white;
    width: 29px;
    height: 1px;
    bottom: 12px;
    right: -42px;
  }

  &::after {
    @include pseudo($display: block, $pos: absolute);
    border-top: 1px solid $basic_white;
    border-right: 1px solid $basic_white;
    transform: rotate(45deg);
    width: 9px;
    height: 9px;
    bottom: 8px;
    right: -42px;
  }
}
