// colors
$basic_color: #a87b62;
$basic_white: #ffffff;
$basic_black: #000000;
$medium_black: #1d1613;
$basic_grey: #9b9997;
$light_grey: #f0eae4;
$border_grey: #f6f5f4;
$scale_color: #f0eae4;
$input_white: rgba(255, 255, 255, 0.15);
// fonts
$caption-font: "Cormorant Garamond", "Times New Roman", serif;
$text-font: "Poppins", "Arial", sans-serif;
// Viewports
$mobile-width: 319px;
$tablet-width: 767px;
$desktop-width: 1023px;
$pre-desktop-width: 1300px;
